@use "./../../../src/styles/partials/global" as *;
@use "./../../../src/styles/partials/mixins" as *;
@use "./../../../src/styles/partials/variables" as *;

.login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
        background-color: #000000;
        color: #ffffff;
        text-decoration: none;
      }
  }

 