@use "./../../../src/styles/partials/global" as *;
@use "./../../../src/styles/partials/mixins" as *;
@use "./../../../src/styles/partials/variables" as *;

.dashStyle {
  height: 100vh;

  &__outer-wrap {
    @include tablet {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
  // Search

  &__search-flex {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__search {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-size: contain;
    height: 23rem;
    position: relative;
    justify-content: center;
    background: linear-gradient(to bottom, $headerGradient1, $headerGradient2);

    @include tablet {
      background-size: cover;
      height: 44rem;
      flex-direction: column;
      background: linear-gradient(
        to bottom,
        $headerGradient1,
        $headerGradient2
      );
    }
  }

  &__search-input {
   
    margin: 0 0 2rem 0;


    @include tablet {
      display: none;
    }

  }

  &__search-input-desk {
  display: none;

    @include tablet {
     display: flex;
     margin: 0 0 2rem 0;
    }

  }

  &__map {
    background: $maplist;
    margin: 1px 0px 0 0;
    padding: 2rem;

    @include tablet {
      margin: 0 0px -1px 1px;
      width: 17rem;
      padding: 0 1rem;
    }

    @include desktop {
      width: 35rem;
    }
  }



  // Lyric

  &__lyric {
    color: $globalText;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $scrollbarThumb $scrollbarTrack;
    height: 21rem;
    position: relative;
    margin: -3rem 0 0 0;
    padding: 3rem 0 0 0;

    @include tablet {
      height: 35rem;
    }

    &-result {
      white-space: pre;
    }
  }

  // Profile

  &__profile-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $profileBlue;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }

  &__user-profile img {
    border-radius: 50%;
    width: 2rem;
  }

  &__user-profile {
    display: flex;
    align-items: center;
    margin: 0 0 1px 0;
    color: $globalText;
    padding: 5px 1rem 5px 1rem;
    border: 1px solid $borders;
    border-radius: 24px;
  }

  &__user-profile-name {
    margin: 0 0 0 0.5rem;
  }

  &__user-profile img {
    border-radius: 50%;
    width: 2rem;
    transition: opacity 0.3s ease;
  }

  &__user-profile img:hover {
    opacity: 0.6;
  }

  &__profile-logo img {
    width: 3rem;
  }

  &__lyric::-webkit-scrollbar {
    width: 8px;
  }

  &__lyric::-webkit-scrollbar-thumb {
    background: $scrollbarThumb;
    border-radius: 4px;
  }

  &__lyric::-webkit-scrollbar-track {
    background: $scrollbarTrack;
  }

  &__lyric-result {
    position: relative;
    max-height: 30rem;
    overflow-y: auto;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__btn a {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 12rem;
    margin: 0 auto;
    background: linear-gradient(to right, $buttonGreen, $buttonBlue);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 29px;
    color: $globalText;
    text-decoration: none;



    @include tablet {
display: none;
    }
  }

  &__btn-desk a {
display: none;

@include tablet {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 12rem;
  margin: 0 auto;
  background: linear-gradient(to right, $buttonGreen, $buttonBlue);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 29px;
  margin: -1.2rem 0 1rem 0;
  color: $globalText;
  text-decoration: none;

}

  }


  &__btn a:hover {
    background: linear-gradient(to right, $buttonBlue, $buttonGreen);
  }

  &__btn-desk a:hover {
    background: linear-gradient(to right, $buttonBlue, $buttonGreen);
  }
  &__title {
    margin: 0 0 2rem 0;
    border-bottom: 1px solid $borders;
    padding: 0 0 0.5rem 0;
  }

  &__inner-wrap {
    @include tablet {
      width: 100%;
    }
  }

  // Playlist

  &__playparent {
    display: none;

    @include tablet {
      background: $lyric;
      color: $globalText;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 1px 0 0 0;
      padding: 0rem 1rem 5rem 1rem;
      height: 81.4rem;
    }

    @include desktop {
      height: 70rem;
    }
  }

  &__playParent-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
    flex-direction: column;
    height: 49rem;
    @include tablet {
      display: none;
    }
  }

  // Special Condition Query

  @media only screen and (max-width: 458px) {
    .dashStyle__playParent-mobile {
      display: flex;
      flex-wrap: nowrap;
      height: 613px;
      overflow-y: auto;
      width: 10rem;
      flex-direction: column;
      margin: 2rem 0 2rem 0;
    }
  }
  @media only screen and (min-width: 459px) {
    .dashStyle__playParent-mobile {
      display: flex;
      height: 73rem;
      overflow-y: auto;
      width: 20rem;
      flex-direction: column;
      margin: 2rem 0 2rem 0;
    }
  }

  &__playlist-wrap {
    width: 50rem;
    margin: 0 auto;
    @include tablet {
      width: 35rem;
    }

    @include desktop {
      width: 47rem;
    }
  }

  &__playlist {
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  &__playlist-playlist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  &__playlist-name {
    text-align: left;
  }

  &__playlist-title {
    text-align: left;
  }

  &__playlist-render-wrap {
    margin: 2rem 0 0 0;
    padding: 2rem 0 0 0;
  }

  &__playlist-item:first-child {
    border-top: 2px solid white !important;
  }

  &__renderUserPlaylist-wrap {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: row;
      margin: 2rem 0 0 0;
      padding: 18px 0 0 0;
    }
  }

  &__renderUserPlaylist-wrap-mobile {
    margin: 2rem 0 0 0;
    padding: 0 3rem 0 0;
    width: 11rem;

    @include tablet {
      display: flex;
      margin: 2rem 0 0 0;
      border-top: 1px solid #ffff;
      padding: 18px 0 0 0;
    }
  }

  &__playlist-selected {
    display: flex;
    background: $maplist;
    background: linear-gradient(to top, $headerGradient1, $headerGradient2);
    border-top: 1px solid #ffff;
    justify-content: center;

    @include tablet {
      display: none;
    }
  }

  &__playlist-title-mobile {
    border-bottom: 1px solid #fff;
    margin: 0 0 1rem 0;
  }

  &__playlist-render-inner-wrap {
    position: relative;

    &__playlist-render-title {
      transition: color 0.3s ease;
    }

    &:hover .dashStyle__playlist-render-title {
      color: $hoverText;
    }
  }

  &__playlist-title-wrap {
    @include tablet {
      display: flex;
      margin: 0 0 2rem 0;
      
    }
  }

  &__playlist-name {
    @include tablet {
      margin: 0 0 0 0.5rem;
      color: $titleGreen;
    }
  }

  &__playlist-name-mobile {
    margin: 0 0 1rem 0.5rem;
    color: $titleGreen;
    font-size: 1.3rem;
  }

  .dashStyle__playlist-render-title {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .dashStyle__renderUserPlaylist-wrap {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
   
  }

  .dashStyle__tracklist-wrap {
    max-height: 400px;
    overflow-x: hidden;
  }

  .dashStyle__sub-title {
    color: $titleGreen;
  }
}

.currently-playing__info {
  margin: 1rem 0 0 0;
}

// Player

.player {
  @include tablet {
    margin: -5px 0 0 0;
  }
}

// Track Result

.trackResult {
  position: relative;
  &__image {
    height: 64px;
    width: 64px;
    border: 1px solid $borders;
  }

  &__info {
    color: $globalText;
    margin: 0 0 0 1rem;
    font-size: 0.7rem;
    line-height: 1.2;
  }

  &__title {
    --bs-text-opacity: 1;
    color: $globalText;
    padding: 0 0 0.5rem 0;
    font-weight: 900;
  }

  &__title {
    font-weight: 900;
    font-size: 0.7rem;
  }

  &__playlist-title-mobile {
    border-bottom: 1px solid $borders;
    margin: 0 0 1rem 0;
  }

  .style {
    font-weight: 900;
  }
}

.trackResult::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.trackResult:hover::before {
  background-color: rgba(58, 58, 58, 0.5);
}

// Playlist Track

.playlist-track {
  position: relative;
  background: $cardbg;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  border: 1px solid $borders;
  margin: 0 0 1rem 0;

  &__album-cover {
    width: 78%;
    height: auto;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__track-title {
    font-weight: 900;
  }

  &__track-details {
    padding: 15px;
    text-align: left;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover &__icon {
    opacity: 1;
  }
}

// Form Control

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 24px !important;
  background-color: $placeholder;
}

// Currently Playing

.currently-playing {
  border-bottom: 1px solid $borders;
  margin: 0 0 2rem 0;
  img {
    width: 6rem;
  }

  &__title {
    color: $globalText;
    font-family: $bold-font;
    font-weight: 900;
  }
  &__artist {
    color: $globalText;
    margin: 0 0 1rem 0;

  }
}

// Albums

.albums {
  &__image {
    width: 8rem;
  }
  &__info {
    margin: 0 0 3rem 0;
  }

  &__map {
    color: $globalText;
  }

  &__info {
    margin: 0 0 3rem 0;
  }

  &__map {
    color: $globalText;
  }
}

.albums__wrap {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}

.albums__title {
  margin: 4rem 0 1rem 0;
  color: $globalText;
}

.albums__list {
  margin: 0 0 0 1rem;
}



.trackResult__playIcon   svg  path {
  color: white !important;
}

.trackResult{
  background: #010306;
}

.trackResult .trackResult__playIcon path {
  fill: white; /* Changes the color of the path to white */
}

.trackResult .trackResult__playIcon {
  margin: 0 1rem 0 1rem;
}

.dashStyle__playlist-icon svg {
  color: $buttonGreen;
}

.dashStyle__playlist-inner-wrap{
  display: flex;
  gap: 0.5rem;
}

.dashStyle__playlist-render-inner-wrap {
  position: relative;
  // background: #010306;
}

.dashStyle__currentPlaying-track  path {
  fill: $buttonGreen; 
}

.dashStyle__outer-wrap {
  display: flex;
  flex-direction: row;
  margin: 0 0 .5rem 0;
}


.dashStyle__search-icon .dashStyle__search-icon-in path {
  fill: $buttonGreen; 
  margin: 0 1rem 0 1rem;
}

 .dashStyle__search-icon svg {

  margin: 0 1rem 0 1rem;
}

.dashStyle__sub-title {
  margin: 0 1rem 2rem 0;
}

.dashStyle__renderUserPlaylist-outer-wrap {
  display: flex;
  flex-direction: row;
  margin: 3rem 0 -2.5rem 0;
  
  
}
.dashStyle__playlist-icon svg {
  margin: 0 1rem 0 0;;
}

.dashStyle__current-track-wrap {
  display: flex;
  flex-direction: row;
}
.dashStyle__icon path {
  fill: $buttonGreen; 
}

.dashStyle__icon svg {
  margin: 0 1rem 0 1rem; 
}

// Currnet Track

.dashStyle__current-track-wrap {
  margin: 3rem 0 0rem 0;
}

.albums-title-wrap {
  display: flex;
}

.dashStyle__playlist__title-wrap {
  // background-color: #000;
  width: 19rem;
  
}

.albums {
   background: #010306;
}

.albums__info {
  margin: 1rem 0 3rem 0;
  
}

// Top Artists

.topArtists {
  margin: 1rem 0 3rem 0;



  @include tablet {
    overflow-x: scroll;
    max-width: 450px;
  }

  @include desktop {
    max-width: 618px;
  }
  .topArtists__list {
    display: flex;
    flex-direction: row;
    /* Add any additional styling as needed */
  }
  
  .topArtists__item {
    margin-right: 10px; /* Adjust as needed for spacing between items */
  }
  
  .topArtists__image {
    width: 150px;
    height:150px;
    border-radius: 50%;
border: 1px solid #ffffff;
  }
  
  .topArtists__list {
    display: flex;
    flex-direction: row;
  
  }
  
  .topArtists__item {
    flex: 0 0 auto; /* This ensures that the items do not stretch and are only as wide as their content */
    margin-right: 20px; /* Adjust as needed for spacing between items */
  }
  
  .topArtists__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .topArtists__name {
    margin: 1rem 0rem 1rem 0;
  }

 
}


.dashStyle__outer-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5rem 0;

  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.topArtists__title {
  color: white;;
}

.dashStyle .dashStyle__renderUserPlaylist-wrap {

  display:none;

  @include tablet {
    max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  }
}

.dashStyle__renderUserPlaylist-outer-wrap {
  display: none;


  @include tablet {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 -2.5rem 0;
  }
}


.dashStyle__search-icon-flex {
  display: flex;
  margin: 1rem 0 -1rem 0;
}
.albums__title {
  display: flex;

}

.albums__title svg{
  color : $buttonGreen;
  margin: 0 1rem 0 0;
}

.albums-title-wrap {
  display: flex;
  margin: -2rem 0 -1rem 0;
}

.albums__image {
  width: 8rem;
  border: 1px solid $borders;
}


.dashStyle__btn-desk {
  margin: 2rem 0 0 0;
}

.dashStyle__playparent {
  

  @include desktop {
    height: 83rem;
  }
}

.dashStyle__playlist-selected {
  margin: -6px 0 0;
}

// React Spotify Player Default override

.PlayerRSWP * {
  box-sizing: border-box;
  background: $playerBG;
}

._WrapperRSWP {
  margin: 1px 0 0 0;
}

.ButtonRSWP svg {
  color: $globalText;
}

.rswp__toggle svg {
  color: $globalText;
}

._ControlsButtonRSWP svg {
  color: $globalText;
}

.__q14q70 .rswp_progress {
  margin-right: 10px;
  text-align: right;
  color: $globalText !important;
}

.rswp_duration {
  margin-left: 10px;
  text-align: left;
  color: $globalText !important;
}

.slider__track {
  background: linear-gradient(to right, $buttonGreen, $buttonBlue);
}

.title-artist-wrapper > div > p > span a {
  color: $globalText !important;
}

.__mdrp5m p:nth-of-type(1) a {
  color: $globalText !important;
}

.__mdrp5m p:nth-of-type(2) a {
  color: $globalText !important;
}

.__1jmym9x.rswp__active {
  display: flex;
  border-bottom: 1px solid;
}

.slider__thumb {
  background: $volumeGreen !important;
}

.volume__thumb {
  background: $volumeGreen !important;
}

._VolumeInlineRSWP .__a3qe0k span svg {
  background: $volumeGreen !important;
}

.__1jmym9x img {
  height: 64px;
  width: 64px;
  border: 1px solid $borders !important;
}

.currently-playing img{
  border: 1px solid #fff;
}

