// Breakpoints

$breakpoint-tablet: 767px;
$breakpoint-desktop: 1280px;

// Colors

$globalText: #e5edff;
$white: #ffffff;
$borders: #e5edff;
$placeholder: #e5edff;

$logoGreen: #1ed761;
$buttonGreen: #1ed761;
$buttonBlue: #1880e1;

$headerGradient1: #00040e;
$headerGradient2: #1b617b;

$lyric: rgb(0 0 0 / 81%);
$backgroundOverlay: #000a1645;

$playerBG: #030e18;
$maplist: #06121e;
$search: #010710;
$cardbg:#000F18;

$scrollbarThumb: #ccd3e2;
$scrollbarTrack: #d4d7de;

// Fonts

$primary-font: "Nunito", sans-serif;
$bold-font: "Nunito Bold", sans-serif;
