$breakpoint-tablet: 767px;  //767-1279px
$breakpoint-desktop: 1280px;    //over 1280px

// // BrainFlix-Black
// $primary1:#323232;
// // BrainFlix-Blue
// $primary2:#0095FF;
// // Silver
// $primary3:#AFAFAF;
// // White


// //Primary Colors
// $globalText: #13182C;
// $interactiveElements: #2E66E5;
// $white: #FFFFFF;

// //Secondary Colors
// $tableHeader: #5C667E;
// $placeholder: #5C667E;
// $oultines: #BDC5D5;
// $dividers: #BDC5D5;
// $borders: #BDC5D5;
// $sort: #BDC5D5;




$primary-font: 'Nunito', sans-serif;
$bold-font: 'Nunito Bold', sans-serif;